<div class="featurette-image">
  <% if @hash && @hash.first[:lat] %>
  <div id="map" style="height: 100%; width: 100%">
  </div>
  <% end %>
</div>

<!-- SCRIPT -->
<% content_for(:after_js) do %>
<script>
  $(document).on('ready', function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  });
</script>
<% end %>

<%= content_for(:after_js) do %>
<script>
  $(function(){
    $('.datepicker').datepicker({
      format: 'dd-mm-yyyy',
      startDate: '+0d',
      autoclose: true
    });
  })
</script>
<% end %>
<!-- SCRIPT end -->




