
<div class="banner-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="feature-box">

          <!-- TABS -->
          <div class="" data-example-id="togglable-tabs">
            <ul class="nav nav-tabs" id="myTabs" role="tablist">
              <!-- PROPERTY tab -->
              <li role="presentation" class="active">
                <a href="#profile" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Profile
                </a>
              </li>
              <!-- MAP tab -->
              <li role="presentation">
                <a href="#edit_profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Edit Profile
                </a>
              </li>

              <!-- BOOKINGS tab -->
              <li role="presentation">
                <a href="#properties" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Properties
                </a>
              </li>

              <!-- REVIEWS tab -->
              <li role="presentation">
                <a href="#bookings" role="tab" id="reviews-tab" data-toggle="tab" aria-controls="reviews">Bookings
                </a>
              </li>
            </ul>
          </div>
          <!-- RENDER PARTIALS to tabs -->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade in active tab-color" role="tabpanel" id="profile">
              <%= render "profile_show" %>
            </div>
            <div class="tab-pane fade tab-color" role="tabpanel" id="edit_profile">
              <%= render 'profile_edit'%>
            </div>
            <div class="tab-pane fade tab-color"" role="tabpanel" id="properties">
              <%= render 'user_properties' %>
            </div>
            <div class="tab-pane fade tab-color"" role="tabpanel" id="bookings">
              <%= render 'landlord_bookings' %>
            </div>
          </div>
        </div>
      </div>
    </div>


