<h1>Hi <%= @user.email  %>, </h1>

<p>Thank you for registering with Home Bug. Please now click on the link to complete your profile.</p>

<%= link_to "Get back to website", "https://homebug.uk/profile", data: { confirm: "Are you sure?" } %>
