<h1>Hi <%= @user.email  %>, </h1>

<p>This is a test for Social lettings

See ya!</p>
<%= link_to "Get back to website", "https://airbnb-dean-foulds.herokuapp.com/", data: { confirm: "Are you sure?" } %>
