/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.attachinary-container li {
  list-style: none;
}
.z-layer{
  z-index: 10;
  position: relative;
}


.home-header {
  position: relative;
  z-index: 10;

  h3 {
    margin: 165px 0 30px;
    font-weight: normal;
  }

  .home-cta {
    position: relative;
    display: block;
    background-color: #ef7422;
    color: white;
    max-width: 275px;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 32px;
    border: 1px solid white;
    margin: 0 auto 45px;

    &:hover {
      text-decoration: none;
      outline: none;
      background-color: #ea833f;
    }
  }

}

.landlord-section {
  padding: 50px 0 0 !important;
  margin: 0 !important;

  h2 {
    margin-bottom: 65px;
  }

  .row-left {
    background: -webkit-linear-gradient(-115deg, #FF7518 36%,  #fff 36%);
    background: linear-gradient(-115deg, #FF7518 36%,  #fff 36%);
  }

  .row-right {
    background: -webkit-linear-gradient(-60deg, #fff 64%, #FF7518 64%);
    background: linear-gradient(-60deg, #fff 64%, #FF7518 64%);
  }

  .content-item {
    text-align: center;
    padding: 40px 20px;

    .fa {
      font-size: 45px;
    }

    h3 {
      margin: 25px 0 15px;
      font-size: 23px;
    }

    p {
      width: 80%;
      margin: 0 auto;
    }
  }
}


