<div class="booking-wrapper">
  <!--   <div class="booking-img"> -->
  <div class="container">
    <div class="row">
      <h3>Bookings:</h3>
      <div class="container">
        <div class="col-sm-6 col-lg-3 ">
          <% @homes.each do |home| %>

          <% home.bookings.each do |booking| %>

          <ul>
            <li>
              <%= booking.starts_at %> at <%= booking.starts_at_time.strftime('%R') %>
              <%= booking.home.address %>
            </li>
          </ul>
        </div>
        <% end %>

      </div>
      <% end %>

      <div class="table-responsive">
        <table class="table table-hover">


        </table>
        <!-- On rows -->
        <tr class="active">Line one active
          <td class="active">...</td>
        </tr>
        <tr class="success">...</tr>
        <tr class="warning">...</tr>
        <tr class="danger">...</tr>
        <tr class="info">...</tr>




        <%= link_to "Back", homes_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>




