
<div class="booking-wrapper">
<div class="booking-img">
    <div class="container">
      <div class="row">
        <h3>Bookings:</h3>
        <div class="container">
          <div class="row">
            <p><%= @booking.starts_at %> at <%= @booking.starts_at_time.strftime('%R') %></p>
            <p><%= @booking.home.address %></p>

            <div class="btn btn-default">
              <%= link_to "Back", booking_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
