<h1 class="text-center">About us</h1>


  <div class="container">
    <div class="row">

       <div class="container text-center padded features">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
    <!--         <img src="~/Bug.png" alt="">
     -->        <h2>Discover the benefits</h2>
              <p>Online landlord tools.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
    <!--           <img src=" " alt="">
     -->          <h2>Custom searches</h2>
              <p>Use the map or unique filters.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
    <!--           <img src="images/beer.png" alt="">
     -->          <h2>Community forums</h2>
              <p>Discover solutions used by others.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
    <!--           <img src="images/heart.png" alt="">
     -->          <h2>Share your experience</h2>
              <p>Share your knowledge with the wider community.</p>
            </div>
          </div>
        </div>

    </div>
  </div>

