<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

          <form method="post" id="" class="">
            <header>Contacts form</header>

            <fieldset>
              <div class="row">
                <section class="col col-6">
                  <label class="label">Name</label>
                  <label class="input">
                    <i class="icon-append fa fa-user"></i>
                    <input type="text" name="name" id="name">
                  </label>
                </section>
                <section class="col col-6">
                  <label class="label">E-mail</label>
                  <label class="input">
                    <i class="icon-append fa fa-envelope-o"></i>
                    <input type="email" name="email2" id="email2">
                  </label>
                </section>
              </div>
