<div class="banner">
  <!-- Welcome message -->
  <div class="container home-header">
    <div class="row">
      <h3>"Together we can challenge <span class="homebug">homelessness</span> in new ways"</h3>
      <%= link_to "Add property", new_home_path, class: "home-cta" %>
    </div>
    <!-- ***** -->

    <figure class="snip1552"><img src="https://static.pexels.com/photos/8742/home-portrait-bw-eva.jpeg" />
      <figcaption>
        <h3>Kate,<br> London</h3>
        <p>Home Bug helped me find a safe new home. Now I feel like other people.</p>
      </figcaption>
      <a href="#"></a>
    </figure>

    <figure class="snip1552 hover"><img src="https://static.pexels.com/photos/127229/pexels-photo-127229.jpeg" />
      <figcaption>
        <h3>Brian,<br> Manchester</h3>
        <p>Being on the street affected my confidence. Now I have a place to live, my depression has reduced.</p>
      </figcaption>
      <a href="#"></a>
    </figure>

    <figure class="snip1552"><img src="https://static.pexels.com/photos/27752/pexels-photo.jpg" alt=""/>
      <figcaption>
        <h3>Asraf, <br> Birmingham</h3>
        <p>I'm very socially aware and have just inherited my grandparents home. I would like to offer the property through Home Bug rentals.  </p>
      </figcaption>
      <a href="#"></a>
    </figure>
    <!-- ***** -->
  </div>
</div>

<div class="container-fluid landlord-section">
  <h2 class="text-center" >Why should I become a landord?</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 content-item tile pink">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Private rental toolkit</h3>
      <p>The toolkit is based upon key principles for private rented sector access schemes developed by a well-known homeless charity in consultation with central and local government and landlord and tenant groups.</p>
    </div>
    <div class="col-md-4 content-item tile gray-lt">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Tenancy documents</h3>
      <p>Documents and templates easily understandable and standardized for creation of tenancy that are accessible by landlords and tenants.</p>
      <br>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 content-item tile gray-dk">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Tenant charter</h3>
      <p>This charter aims to help millions of social tenants who live in the private rented sector to have a better understanding of what can be expected in a private tenancy and, if something goes wrong, where to go for help.</p>
    </div>
    <div class="col-md-4 content-item tile blue">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Social Benefits</h3>
      <p>Here is a basic guide to some of the main benefits in the UK, and some of the less well-known funds.</p>
      <br>
      <br>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 content-item tile gray-lt">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Community</h3>
      <p>Community is an important part of social tenant life, including information and knowledge of facilities to access in the local area and ways to interact with others in the community, and building strength from the social structures.</p>
    </div>
    <div class="col-md-4 content-item tile green">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Tackling issues</h3>
      <p>All residents have the right to enjoy their homes in peace. Occasionally, some people are denied this right, by harassment or inconsiderate neighbours. Tenants can access help to assure peaceful enjoyment.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 content-item tile gray-lt">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Shared accommodation</h3>
      <p>Sharers' toolkit draws on the learning from the various models of sharing trialled by access schemes across the country and provides information on how to best support landlords to let their properties on a shared basis.</p>
    </div>
    <div class="col-md-4 content-item tile blue">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Benefits calculation</h3>
      <p>A benefits calculator to see what benefits a social tenant is entitled to claim</p>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>


