<div class="banner">
  <!-- Welcome message -->
  <div class="container home-header">
    <div class="row">
      <h3>"Together we can challenge <span class="homebug">homelessness</span> in new ways"</h3>
      <%= link_to "Add property", new_home_path, class: "home-cta" %>
    </div>
    <!-- ***** -->

    <figure class="snip1552"><img src="https://static.pexels.com/photos/8742/home-portrait-bw-eva.jpeg" />
      <figcaption>
        <h3>Kate,<br> London</h3>
        <p>Home Bug helped me find a safe new home. Now I feel like other people.</p>
      </figcaption>
      <a href="#"></a>
    </figure>

    <figure class="snip1552 hover"><img src="https://static.pexels.com/photos/127229/pexels-photo-127229.jpeg" />
      <figcaption>
        <h3>Brian,<br> Manchester</h3>
        <p>Being on the street affected my confidence. Now I have a place to live, my depression has reduced.</p>
      </figcaption>
      <a href="#"></a>
    </figure>

    <figure class="snip1552"><img src="https://static.pexels.com/photos/27752/pexels-photo.jpg" alt=""/>
      <figcaption>
        <h3>Asraf, <br> Birmingham</h3>
        <p>I'm very socially aware and have just inherited my grandparents home. I would like to offer the property through Home Bug rentals.  </p>
      </figcaption>
      <a href="#"></a>
    </figure>
    <!-- ***** -->
  </div>
</div>

<div class="container-fluid landlord-section">
  <h2 class="text-center" >Wy should I become a landord?</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 content-item tile pink">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Private rental toolkit</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
    <div class="col-md-4 content-item tile gray-lt">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Tenancy documents</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 content-item tile gray-dk">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Tenant charter</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
    <div class="col-md-4 content-item tile blue">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Social Benefits</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 content-item tile gray-lt">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Community</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
    <div class="col-md-4 content-item tile green">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Tackling issues</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 content-item tile gray-lt">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Shared accommodation</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
    <div class="col-md-4 content-item tile blue">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Benefits calculation</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
  </div>
</div>


