    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/flats.jpg');">
      <div class="banner-content">
        <h1>Welcome to Homebug</h1>
        <p>The perfect match for tenants and landlords across the UK.</p>
        <a class="btn btn-primary btn-lg">How it works</a>
        <form action="#" class="form-inline">
                 <input type="text" class="form-control input-lg" placeholder="checkin">
                 <input type="text" class="form-control input-lg" placeholder="checkout">
                 <select name="" id="" class="form-control input-lg">
                   <option value="1">1 person</option>
                   <option value="2">2 persons</option>
                   <option value="3">3 persons</option>
                 </select>
                 <input type="submit" class="btn btn-primary btn-lg" value="Search">
               </form>
      </div>
    </div>

    <div class="container text-center padded features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="images/globe.png" alt="">
          <h2>Discover the benefits/h2>
          <p>Online landlord tools.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="images/dollar.png" alt="">
          <h2>Custom searches</h2>
          <p>Use the map or unique filters.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="images/beer.png" alt="">
          <h2>Community forums</h2>
          <p>Discover solutions used by others.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="images/heart.png" alt="">
          <h2>Share you experience</h2>
          <p>Share you knowledge with the wider community.</p>
        </div>
      </div>
    </div>

    <div class="wrapper-grey padded">
      <div class="container">
        <h2 class="text-center">Your next trip</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-paris.jpg');">
              <div class="card-category">Paris</div>
              <div class="card-description">
                <h2>Seb's home</h2>
                <p>Charming room with patio</p>
              </div>
              <img class="card-user avatar avatar-large" src="images/seb.jpg">
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-brussels.jpeg');">
              <div class="card-category">Brussels</div>
              <div class="card-description">
                <h2>Anne's home</h2>
                <p>Lovely house</p>
              </div>
              <img class="card-user avatar avatar-large" src="images/anne.jpg">
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-london.jpeg');">
              <div class="card-category">London</div>
              <div class="card-description">
                <h2>Romain's home</h2>
                <p>Nice flat in Piccadilly</p>
              </div>
              <img class="card-user avatar avatar-large" src="images/romain.jpeg">
              <a class="card-link" href="#" ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center padded" id="newsletter">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us</p>
      <form class="form-inline">
        <input type="email" placeholder="bob@gmail.com" class="form-control">
        <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
      </form>
    </div>

    <div id="map" style="width: 100%;height: 500px;"></div>

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-inline">
              <li><a href=""><i class="fa fa-youtube"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-8 text-right">
            <p>Landlords meet tenants @ Homembug</p>
          </div>
        </div>
      </div>
    </div>







