    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.9) 0%, rgba(0,36,61,0.2) 80%), url('https://hd.unsplash.com/photo-1454711557808-c35861541b84');">
      <div class="banner-content">
        <h1>Welcome to Homebug</h1>
        <p>"I have a safe place to sleep now, like other people"</p>

     </div>
   </div>

   <div class="container text-center padded features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
<!--         <img src="~/Bug.png" alt="">
 -->        <h2>Discover the benefits</h2>
          <p>Online landlord tools.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
<!--           <img src=" " alt="">
 -->          <h2>Custom searches</h2>
          <p>Use the map or unique filters.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
<!--           <img src="images/beer.png" alt="">
 -->          <h2>Community forums</h2>
          <p>Discover solutions used by others.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
<!--           <img src="images/heart.png" alt="">
 -->          <h2>Share you experience</h2>
          <p>Share you knowledge with the wider community.</p>
        </div>
      </div>
    </div>


