<div class="banner">
  <!-- Welcome message -->
  <div class="container home-header">
    <div class="row">
      <h1>Welcome to <span class="homebug">Home Bug</span></h1>
      <h3>"Thanks to <span class="homebug">Home Bug</span> I now live in a safe place, like normal people"</h3>
    </div>
    <!-- ***** -->

    <figure class="snip1552">
      <img src="https://static.pexels.com/photos/8742/home-portrait-bw-eva.jpeg" alt="sample91" />
      <figcaption>
        <h3>Kate,<br> London</h3>
        <p>I'm learning real skills that I can apply throughout the rest of my life ... Procrastinating and rationalizing.</p>
      </figcaption>
      <a href="#"></a>
    </figure>

    <figure class="snip1552 hover"><img src="https://static.pexels.com/photos/127229/pexels-photo-127229.jpeg" alt="" />
      <figcaption>
        <h3>Brian,<br> Manchester</h3>
        <p>If you do the job badly enough, sometimes you don't get asked to do it again.</p>
      </figcaption>
      <a href="#"></a>
    </figure>

    <figure class="snip1552"><img src="https://static.pexels.com/photos/27752/pexels-photo.jpg" alt=""/>
      <figcaption>
        <h3>Asraf, <br> Birmingham</h3>
        <p>I'm very socially conscious and have just inherited my grandparents home. I would like to lett the property through Home Bug until I decide if I should rent or sell.  </p>
      </figcaption>
      <a href="#"></a>
    </figure>
    <!-- ***** -->
  </div>
</div>

<div class="container-fluid landlord-section">
  <h2 class="text-center" >Wy should I become a landord?</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 content-item tile pink">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Private rental toolkit</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
    <div class="col-md-4 content-item tile gray-lt">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Tenancy documents</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 content-item tile gray-dk">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Tenant charter</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
    <div class="col-md-4 content-item tile blue">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Social Benefits</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 content-item tile gray-lt">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Community</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
    <div class="col-md-4 content-item tile green">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Tackling issues</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 content-item tile gray-lt">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Shared accommodation</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
    <div class="col-md-4 content-item tile blue">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <h3 class="panel-title">Benefits calculation</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis culpa harum maiores quam error, dicta, dolor molestiae ex voluptas qui alias totam possimus corporis commodi quia eligendi ad provident!</p>
    </div>
  </div>
</div>









