
<div class="banner banner-dark">
  <!-- Welcome message -->
  <div class="container">
    <div class="row">
      <h1>Welcome to <span class="homebug">Home Bug</span></h1>
      <h3>"Thanks to <span class="homebug">Home Bug</span> I now live in a safe place, like normal people"</h3>
    </div>
    <!-- ***** -->

<figure class="snip1552">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample91.jpg" alt="sample91" />
  <figcaption>
    <h3>Archibald Northbottom</h3>
    <p>I'm learning real skills that I can apply throughout the rest of my life ... Procrastinating and rationalizing.</p>
  </figcaption>
  <a href="#"></a>
</figure>
<figure class="snip1552 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample96.jpg" alt="sample96" />
  <figcaption>
    <h3>Druid Wensleydale</h3>
    <p>If you do the job badly enough, sometimes you don't get asked to do it again.</p>
  </figcaption>
  <a href="#"></a>
</figure>
<figure class="snip1552"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample90.jpg" alt="sample90" />
  <figcaption>
    <h3>Indigo Violet</h3>
    <p>But Calvin is no kind and loving god! He's one of the old gods! He demands sacrifice! </p>
  </figcaption>
  <a href="#"></a>
</figure>





    <!-- ***** -->
  </div>
</div>

<div class="col-lg-4">
  <div class="bs-component">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Panel danger</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">A better understanding</h3>
      </div>
      <div class="panel-body">After the chaos and stress of homelessness, tenants often struggle to find and secure a property. We work with local projects to help tenants and landlords navigate finding, setting up and sustaining a tenancy.</div>
    </div>
    <button id="source-button" class="btn btn-primary btn-xs" style="display: none;">button
    </button>
  </div>
</div>

  <div class="container text-center padded features">
    <div class="row">
      <!-- PANEL 1 -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="images/globe.png" />
        <h2 class="homebug">A better understanding</h2>
        <div class="panel-body">After the chaos and stress of homelessness, tenants often struggle to find and secure a property. We work with local projects to help tenants and landlords navigate finding, setting up and sustaining a tenancy.</div>
      </div>
      <!-- PANEL 2 -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="images/dollar.png" />
        <h2>Community spirit </h2>
        <p>Improving relationships through education and support.</p>
      </div>
      <!-- PANEL 3 -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="images/beer.png" />
        <h2>Meet people</h2>
        <p>Discover new culture and lifestyle.</p>
      </div>
      <!-- PANEL 4 -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="images/heart.png" />
        <h2>Share and love</h2>
        <p>Join a community you will love.</p>
      </div>

    </div>
  </div>

  <div class="wrapper-grey padded">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('http://placehold.it/150x150');">
            <div class="card-category">Paris, France</div>
            <div class="card-description">
              <h2>Seb's home</h2>
              <p>Charming room in Montmartre</p>
            </div>
            <img class="card-user avatar avatar-large" src="http://placehold.it/150x150" />
            <a class="card-link" href="flats/seb.html">#</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('http://placehold.it/150x150');">
            <div class="card-category">London, UK</div>
            <div class="card-description">
              <h2>Romain's home</h2>
              <p>Nice flat in Piccadilly</p>
            </div>
            <img class="card-user avatar avatar-large" src="http://placehold.it/150x150" />
            <a class="card-link" href="flats/romain.html">#</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('http://placehold.it/150x150');">
            <div class="card-category">Zurich, Switzerland</div>
            <div class="card-description">
              <h2>Sam's home</h2>
              <p>Charming room in Zurich</p>
            </div>
            <img class="card-user avatar avatar-large" src="http://placehold.it/150x150" />
            <a class="card-link" href="flats/sam.html">#</a>
          </div>
        </div>

      </div>
    </div>
  </div>








