.navbar1 {
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 20px;
    border-radius: 0;
    margin: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.navbar-custom {
    background-color: #FFFFFF;
}

.nav > li > a {
  font-size: 18px;
  color: #222222;
  text-decoration: none;
}

.avatar-link {
  text-decoration: none;
}

.navbar-header {
  display: flex;
  align-items: center;

  h1 {
    margin: 0 0 0 20px;
  }
}







