.navbar1 {
    position: relative;
    padding: 20px;
    border-radius: 0;
    margin: 0;
}
.navbar-custom {
    background-color: #FFFFFF;
}

.nav > li > a {
  font-size: 18px;
  color: #222222;
}








