<title>Homebug - the tool to assist non-mainstream tenants</title>
  <meta charset="utf-8" />
  <link rel="icon" href="assets/open-house-icon.png" type="image/png" />

  <meta name="description" content="Homebug is the only tool in the UK to assist the less fortunate be placed in safe and reasonable accomodation, working in conjunction with sympathetic charities and the government." />
