  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <br>
  <div class="col-sm-12">
    <div class="bs-example" data-example-id="simple-responsive-table">
      <div class="table-responsive-vertical">
        <!-- Table starts here -->

      </div>
    </div>
  </div>

