<div class="col-xs-6">
  <%= render "home_reviews/form", home_review: @home_review %>
</div>

<div class="col-xs-6" id="home_reviews">
  <% @home.home_reviews.each do |r| %>
    <%= render "home_reviews/show", home_review: r %>
  <% end %>
</div>


