<h1 class="text-center">Current Homes</h1>

<div class="text-center padded">
  <%= link_to "Rent your property", new_home_path, class: "btn btn-success" %>
</div>

<div class="container">
  <div class="row">
    <% @homes.each do |home| %>
    <div class="col-xs-12 col-sm-4">
      <%= home.address %>

    </div>
    <% end %>


    <div class="card-body">
      <%= @address %>
      <%= link_to "link", homes_path(@homes) %>
    </div>
  </div>
</div>

