<div class="banner-green">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="contact-form-drk">
          <div class="legend">Property registration</div>
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



