<div class="banner-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="contact-form">
          <div class="legend">Property registration</div>
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



