<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @status %></h1>
      <h1><%= @address %></h1>
      <h1><%= @pictures %></h1>
      <%= link_to 'Back', homes_path %>

    </div>
  </div>
</div>
