<div class="banner-blue">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-md-10">
        <div class="section-h1-white">Property listings</div>

        <main role="main" data-accessible="true">
          <div class="tabs">
            <div class="tabs-nav">

              <ul role="tablist">
                <li role="presentation">
                  <button data-href="#details" role="tab" aria-controls="details" aria-selected="true" class="tabs-nav-option is--current">
                  Details</button>
                </li>
                <li role="presentation">
                  <button data-href="#map" role="tab" aria-controls="map" class="tabs-nav-option">Location map</button>
                </li>
                <li role="presentation">
                  <button data-href="#bookings" role="tab" aria-controls="bookings" class="tabs-nav-option">Bookings</button>
                </li>
                <li role="presentation">
                  <button data-href="#reviews" role="tab" aria-controls="reviews" class="tabs-nav-option">Reviews</button>
                </li>
              </ul>


              <div class="tabs-content">
                <div role="tabpanel" id="details" class="tabs-panel">
                  <%= render 'property-details' %>
                </div>
                <div role="tabpanel" id="map" class="tabs-panel">
                  <%= render "map" %>
                </div>
                <div role="tabpanel" id="bookings" class="tabs-panel">
                  <%= render 'bookings', bookings: @home.bookings %>
                </div>
                <div role="tabpanel" id="reviews" class="tabs-panel">
                  <%= render "reviews" %>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>







