<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= @home.address %>
        <%= link_to 'Back', homes_path %>
        <% @home.pictures.each do |picture| %>
          <%= cl_image_tag picture.path, width: 300, height: 200, crop: :fill %>
        <% end %>
    </div>
  </div>
</div>
