
<div class="banner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="feature-box">

          <!-- TABS -->
          <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
            <ul class="nav nav-tabs" id="myTabs" role="tablist">
              <!-- PROPERTY tab -->
              <li class="active">
                <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Property
                </a>
              </li>
              <!-- MAP tab -->
              <li>
                <a href="#map" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Map
                </a>
              </li>

              <!-- BOOKINGS tab -->
              <li>
                <a href="#booking" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Bookings
                </a>
              </li>

              <!-- REVIEWS tab -->
              <li>
                <a href="#reviews" role="tab" id="reviews-tab" data-toggle="tab" aria-controls="reviews">Reviews
                </a>
              </li>
            </ul>
          </div>

          <!-- RENDER PARTIALS to tabs -->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade in active" role="tabpanel" id="home">
              <%= render "property-details" %>
            </div>
            <div class="tab-pane fade test" role="tabpanel" id="map">
              <%= render 'map'%>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="booking">
              <%= render 'bookings', bookings: @home.bookings %>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="reviews">
              TODO reviews
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
