<!-- FEATURETTES -->
<div class="banner-page">
  <div class="container">
    <div class="row">

      <div class="col-md-offset-2 col-md-8">
        <div class="feature-box">

          <!-- TABS -->
          <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
            <ul class="nav nav-tabs" id="myTabs" role="tablist">
              <!-- PROPERTY tab -->
              <li role="presentation" class="active">
                <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Property
                </a>
              </li>
              <!-- MAP tab -->
              <li role="presentation">
                <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Map
                </a>
              </li>

              <!-- BOOKINGS tab -->
              <li role="presentation">
                <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Bookings
                </a>
              </li>

              <!-- REVIEWS tab -->
              <li role="presentation">
                <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Reviews
                </a>
              </li>
            </ul>
          </div>

          <!-- RENDER PARTIALS to tabs -->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade in active" role="tabpanel" id="home">
              <%= render "property-details" %>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="profile">
              <%#= render "map" %>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="dropdown1">
              <%= render 'list-viewings' %>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="dropdown2">
              <p>BODY TEXT </p>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</div>
