<h1>Hi <%= @message.name  %>, </h1>

  <p>You have successfully contacted us.  Please take the time to personalise your profile on the website and update the details

  </p>

    <%= link_to "Get back to website", "https://homebug.uk" %>
