.homebug {
    color: #FF8000;
}
.contact-form {
    color: white;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: 0 1rem 1rem 1rem;
}
.radio {
    position: relative;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 22px;
    font-size: 24px;
    line-height: inherit;
    color: white;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner-yellow {
  background: #FFB75E; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFB75E , #ED8F03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.banner-green {
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #56ab2f , #a8e063); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #56ab2f , #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.banner-blue {
  height: 100vh;
  background: #43cea2; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(right, #43cea2, #185a9d);
  background: -o-linear-gradient(right, #43cea2, #185a9d);
  background: linear-gradient(to left, #43cea2, #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}

.form-wrapper {
  background: rgb(230,230,230);
  padding: 20px;
}
.text-wrapper {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 200px;
  background: blue;
}
.booking-wrapper {
  margin: 20px;
	padding: 20px;
  width: 400px;
  background: #cfd7df;
}
