.search-pop-out {
  position: absolute;
  top: 70px;
  left: 0px;
  height: 300px;
  width: 20vw;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3rem;
}
.logo-block {
  // background:rgba(140,140,140,0.2);
  color: #45B29D;
  margin-top: 10px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  float: left;
}
.logo-block p {
  font-size: 18px;
  color: black;
}
.well {
  position: relative;
  font-size: 16px;
  line-height: 1.2;
}
.stars {
  position: absolute;
  font-size: 12px;
  right: 4px;
  top: 4px;
}
.section-h1-white {
  color: white;
  font-size: 26px;
  text-align: left;
  display: block;
  margin-top: 30px;
  margin-left: 10px;
  line-height: inherit;
  border: 0;
}
.status {
  color: green;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.feature-bdr {
  border: 1 solid #BCBCBC;
}
.transparent {
  background:rgba(140,140,140,0.8);
}
.test {
  background-color: blue;
}

.feature {
  height: 100px;
  padding-top: 70px;
}
.feature-box {
  background: red;
  margin: 30px 0;
  padding: 30px;
  min-height: 600px;
}
.features img {
  width: 100px;
}
.features h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.features p {
  font-size: 15px;
  font-weight: lighter;
}

// FEATURES

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
.lead {
  font-weight: 300;
  line-height: 1.3;
  font: 16px;
}
.featurette-image {
  height:200px;
  padding: 0px;
}
.featurette-img-sm {
  background-size: cover !important;
  height: 200px;
  padding-left: 0px;
}
.featurette-heading {
    font-size: 30px;
}

.home-image-thumbnail {
    width: 100% !important;
}
