
// colors: https://color.adobe.com/Flat-design-colors-1-color-theme-3044245/?showPublished=true
$colors: (
  ocean : #334D5C,
  teal: #45B29D,
  sun: #EFC94C,
  sunset: #E27A3F,
  rust: #DF5A49
);
@function color($color) {
  @return map-get($colors, $color);
}

// Base styles
*,*:before,*:after{
  box-sizing: border-box;
}
// html{
//   font-size: 62.5%;
//   background: color(ocean);
//   color: lighten(color(ocean),70%);
// }
// body{
//   width: auto;
//   max-width: 60rem;
//   margin: auto;
//   padding: 2rem;
//   font: 400 160%/1.8 Montserrat, sans-serif;
// }

// h1, h2, h3 {
//   color: color(teal);
// }
// a{
//   color: color(teal);
// }
// img{
//   width: 100%;
//   height: auto;
// }

// Demo-specific styles
//
.tabs {
  margin-top: 20px;
}


.tabs{
  &-nav{
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      display: inline;
    }
    &-option{
      display: inline-block;
      padding: 1rem 2rem;
      margin: 0;
      border: 0;
      border-radius: 1rem 1rem 0 0;
      color: color(ocean);
      background: color(teal);
      &:not(.is--active){
        box-shadow: inset 0 -.25rem 0 0 darken(color(teal),5%);
      }
      &.is--active{
        background: white;
        color: color(ocean);
      }
    }
  }
  &-panel{
    position: relative;
    min-height: 250px;
    width: 100%;
    display: none;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0 1rem 1rem 1rem;
    background: white;
    color: color(ocean);
    &.is--active{
      display: block;
    }
  }
}
