.tile {
  color: white;
}

.pink {
  background-color: #ec407a;
}
.blue {
  background-color: #336699;
}
.gray-dk {
  background-color: #666666;
}
.gray-lt {
  background-color: #999999;
}
.orange {
  background-color: #FF7518;
}
.green {
  background-color: #3ea08d;
}






